nav-button-group button-block::part(button) {
  padding-inline: 0.5rem;
}

button-block[disabled]::part(button) {
  cursor: not-allowed;
  background-color: var(--gray-400);
  color: var(--gray-100);
}
