@import url("https://fonts.googleapis.com/css2?family=Asset&family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Google+Sans+Flex:opsz,wdth,wght@6..144,112.5,1..1000&display=swap");

:root {
  --font-heading: "Asset", serif;
  --font-body: "Elms Sans", sans-serif;
  --font-sans: "Google Sans Flex", sans-serif;
}
